body { font-family: "Microsoft Yahei";margin:0 auto; padding:0; font-size:12px; color:#333; }
div, form, ul, ol, li, span, p, dl, dt, dd { margin:0; padding:0; border:0; }
img, a img { border:0; margin:0; padding:0; }
h1, h2, h3, h4, h5, h6 { margin:0; padding:0; font-size:12px; }
ul, ol, li { list-style:none }
table, td, input { font-size:12px; padding:0; font-family:inherit; }
.noneBox { display:none; }
img{ vertical-align: top;}
em ,i{font-style:normal}
a {outline-style:none; color:#333; text-decoration:none }
a:hover { color:#c00; text-decoration:underline; }
/* common */
.clearfix:after{ clear:both; content:"\200B"; display:block; height:0;}
.clearfix{ *zoom:1;}
.clear{ clear:both; font-size:0; height:0; line-height:0; overflow:hidden;}
.mt8{ margin-top:8px}
.ml10{ margin-right:10px}
.mb10{ margin-bottom:10px;}
.flol{ float: left;}
.flor{ float: right;}
.red{color:#c00}
.fbbox {width:750px;height:556px;margin:0 auto;background:#fff;border-radius:5px;position:fixed;right:0;bottom:0;z-index:10000;border-left: 1px solid #eaeaea;}
.fbbox.narrow{width:180px;height:30px;}
.fbconl {float:left;width:570px;height:556px;overflow:hidden;border-top-left-radius:5px;border-bottom-left-radius:5px;}
.fbconltit{height:50px;line-height:50px;font-size:14px;background:#f0f0f0;padding:0 10px 0 16px;border-bottom:1px solid #eaeaea}
.fbconltit i{width:12px;height:12px;margin:0px 0 0 12px;}
.fbconltit i img{vertical-align: middle;margin-top:-4px}
.fbconlcon {width:550px;height:308px;padding:5px 5px 5px 15px;position:relative;z-index:8; overflow:hidden;}
.fbcon{width:550px;height:292px;overflow-y: auto;overflow-x: hidden;}
.fbcon ul{}
.fbcon ul li{width:100%;overflow:hidden;margin-bottom:30px; position:relative}
.fbcon ul li.hei120{height:120px;}
.fbcon ul li.odd .user{float:left;margin-right:10px;}
.fbcon ul li.even .user{float:right;margin-left:10px;}
.fbcon ul li.odd .user{float:left;margin-right:10px;}
.fbcon ul li.even .user{float:right;margin-left:10px;width:36px;}
.fbcon ul li.odd .user img,.fbcon ul li.even .user img{border-radius: 50%;width:36px;height:36px;}
.fbcon ul li.odd .replybox{float:left;max-width:450px;}
.fbcon ul li.even .replybox{float:right;max-width:450px;}
.fbcon ul li.odd .replycontent{background:#f0f0f0;border-radius:8px;padding:8px 15px;line-height:20px;position: relative;}
.fbcon ul li.odd .replycontenta{width:272px;background:#f0f0f0;height:100%;border-radius:8px;padding:0px 0px;line-height:20px;position: relative;}
.fbcon ul li.even .replycontent{background:#d4edf4;border-radius:8px;padding:8px 15px;line-height:20px;position: relative;word-break:break-all;word-wrap:break-word;}
.fbcon ul li.odd .arrow{width:7px;height:11px;line-height:0;font-size:0; background:url(../images/icon01.png) no-repeat;z-index:999;position: absolute;top: 8px;left:-6px;}
.fbcon ul li.even .arrow{width:7px;height:11px;line-height:0;font-size:0; background:url(../images/icon01.png) no-repeat; background-position:0 -16px;z-index:999;position: absolute;top: 8px;right:-6px;}
.refy {width:242px;height:36px;line-height:36px;border-bottom:1px solid #fff;font-size:12px;color:#999;padding:0 15px; overflow:hidden}
.refytr02{width:249px;padding:10px 8px 10px 15px; overflow:hidden}
.refytr02 .sl{float:left;width:80px;height:60px; overflow:hidden;margin-right:12px;}
.refytr02 .sr{float:left;width:157px; position:relative;}
.refytr02 .sr h2{width:157px;height:20px;overflow:hidden;font-size:14px; font-weight:normal}
.refytr02 .sr p{width:157px;height:20px;line-height:20px; overflow:hidden;font-size:12px;color:#999;}
.refytr02 .sr .zybq {width:70px;height:18px;line-height:18px; text-align:center;border:1px solid #fa945c;color:#fa945c;position:absolute;bottom:0px;right:0px;}
.fbtools{height:18px;background:#f0f0f0;padding:11px 0;}
.fbtools .sl{float:left;}
.fbtools .sl i{width:18px;height:18px;margin-left:18px; display:inline-block; position:relative}
.biaoqi{width:332px;height:186px;position:absolute;top:-190px;left:-19px; background:#fff url(../images/bjjta.jpg) bottom no-repeat;z-index:1000}
.biaoqi .contnr{width:313px;height:153px;border:1px solid #c9c9c9;border-bottom:0px;padding:12px 5px 12px 12px; overflow:hidden}
.biaoqi .contnr .bqcon{width:313px;height:153px;overflow-y:auto;overflow-x: hidden;}
.fbtools .sl i.no2{width:20px;height:18px;overflow:hidden;margin-left:18px;margin-top:2px; vertical-align: top}
.fbtools .sr{float:right;height:18px;line-height:18px;font-size:12px;color:#666; background:url(../images/icon-t03.png) no-repeat;padding:0 15px 0 24px;}
.textarea{height:90px;padding:10px 15px;margin-bottom:5px;}
.textarea textarea{width:100%;height:90px;border:none; background:#fff;font-size:14px;color:#bab8b8;line-height:24px; outline:none}
.fbbutr{height:30px;}
.fbbutr .sl{float:left;font-size:13px;color:#8e8e8e; text-decoration:underline;padding-left:15px;}
.fbbutr .sl a{font-size:13px;color:#8e8e8e; text-decoration:underline}
.fbbutr .sr{float:right;padding-right:5px;}
.fbbut01{width:75px;height:30px;line-height:30px;text-align:center;color:#fff; background:#cc0000;border-radius:5px; display:block}
a.but01:hover{color:#fff; text-decoration:none}
.fbconr {width:180px;background:#a09494; position:relative;right:0px; top:0px;float:right;border-top-right-radius:5px;border-bottom-right-radius:5px}
.fbconrtit{height:51px;line-height:51px;color:#fff;font-size:13px;padding:0 18px 0 12px;}
.fbconrtit span{ background:url(../images/icon-t04.png) no-repeat; background-position:0 3px;padding-left:24px;}
.fbconrtit .iconclose{width:11px;height:20px;margin-top:17px;background:url(../images/icon-t05.png) 0 7px no-repeat;display:inline-block}
.fbconrtit .iconclose:hover{width:11px;height:20px;background:url(../images/icon-t05.png) 0 7px no-repeat;}
.fbconrtit .iconclosea{width:12px;height:20px;margin-top:12px;background:url(../images/icon-closea.png) 0 7px no-repeat;display:inline-block}
.fbconr .listcon{width:180px;height:474px;padding:0 0px 0 0px;color:#fff; overflow:hidden}
.fbconr .listcon .conscroll{width:180px;height:474px;overflow-y:auto;overflow-x: hidden;}
.fbconr  a{color:#fff; text-decoration:none}
.conts{width:166px;height:30px;line-height:30px;padding:5px 0;font-size:14px;margin-left:14px;}
.conts em{ float:left;display:block;width:20px;height:30px;background:url(../images/icon-t06.png) 0 10px no-repeat; cursor:pointer;}
.conts em.on{ background-position:0px -17px; }
ul.rlist {width:180px;}
ul.rlist li {width:162px;height:30px;line-height:30px; background:url(../images/icon-t04.png) no-repeat 35px 10px;font-size:14px;padding-left:60px; position:relative;}
ul.rlist li .news {position:absolute;top:7px;left:130px;width:16px;height:16px;line-height:16px;background:#c00;border-radius:50%;font-size:12px;color:#fff; text-align:center;font-family:Arial, Helvetica, sans-serif; z-index:999}
ul.rlist li.no2{background:url(../images/icon-t04.png) no-repeat 35px -20px;}
ul.rlist li.on {background-color:#fff;color:#333 }
ul.rlist li.on a {color:#333 }
.btnOnline{height:30px;line-height:30px;width:152px;padding:0 14px;color:#fff; background:url(../images/icon-t08.png)150px 12px no-repeat;cursor:pointer;}
.btnOnline.no2{background:url(../images/icon-t08.png)150px -19px no-repeat;}
.btnOnline em{ float:left;display:block;width:30px;height:30px;background:url(../images/icon-t07.png) 0 7px no-repeat; cursor:pointer;}

/* yangfan fixed */
.fbbox{height:auto;width:auto;font-family: "Microsoft Yahei";margin:0 auto;padding:0;font-size:12px;color:#333;}
.fbconl{border:1px solid #eaeaea;position:fixed;background:#fff;right:180px;bottom:-2px;}
.fbconl.notmove{border-right:none;}
.fbbutr .sr a:hover {color:#fff;text-decoration:none;}
.fbtools{position:relative;}
.fbtools .sl i.no2{height:15px;background:url(../images/icon-t02.png);}
.textarea{position:relative;}
.fbconltit{cursor:move;}
.fbbutr .sl a,.fbbut01,.fbconltit i img,.fbtools .sr,.fbtools .sr a,ul.rlist li{cursor:pointer;}
.fbconr .listcon .conscroll {position:relative}
ul.rlist li .nonews{background:none;}
.textarea textarea {resize:none;overflow:auto;}
.biaoqi{top:-180px;left:-1px;}
.biaoqi a{
    border: 1px solid #fff;
    display: inline-block;
}
.biaoqi a:hover {
    /*-webkit-box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.2);
    box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;*/
    border: 1px solid #ccc;
}

.im_face{cursor:pointer;background:url(../images/icon-t01a.png);}
.im_face.on{cursor:pointer;background:url(../images/icon-t01.png);}
ul.rlist li .red {background:#c00;}
.fbconrtit .im_online {background:url(../images/icon-t04.png) no-repeat;background-position:0 3px;padding-left:24px;border:none;}
.fbconrtit .im_offline {background:url(../images/icon-t04.png) no-repeat;background-position:0 -20px;padding-left:24px;border:none;}
.fbconrtit .iconmin{width:12px;height:12px;margin-top:17px;background:url(../images/icon-t05.png) 0 7px no-repeat;display:inline-block}
.fbconrtit .iconclose{width:12px;height:12px;margin-top:17px;background:url(../images/icon-close.png) no-repeat;display:inline-block}
.btnOnlineTalk, .btnOnlineTalkUp {
    width: 180px;
    background: #a09494;
    position: fixed;
    right: 0;
    bottom: 1px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.btnContactUp {
    height: 30px;
    line-height: 30px;
    width: 152px;
    padding: 0 14px;
    color: #fff;
    background: url(../images/icon-t08.png)150px -19px no-repeat;
    cursor: pointer;
}
.btnContactUp em {
    float: left;
    display: block;
    width: 30px;
    height: 30px;
    background: url(../images/icon-t07.png) 0 7px no-repeat;
    cursor: pointer;
}

.talkNull {
    position: absolute;
    font: normal 12px/18px SimSun;
    top: 0px;
    margin-left: 15px;
    z-index: 2;
}
.iconChenggong {
    background: url(http://js.soufunimg.com/home/jiancai/chat/CSS/images/iconchenggong.png) 0 0 no-repeat;
    padding-left: 20px;
}
.gray6, .gray6 a {
    color: #666;
    text-decoration: none;
}

/*.btnOnlineTalkUp {
    width: 142px;
    height: 35px;
    padding-left: 40px;
    font: normal 12px/35px SimSun;
    color: #000;
    background: url(http://img1.soufun.com/house/images/chat/btnTal2.gif) no-repeat;
    cursor: pointer;
    float: right;
}*/
.btnServiceUp {
    width: 142px;
    height: 35px;
    padding-left: 40px;
    font: bold 18px/35px SimSun;
    color: #000;
    background: url(../images/down.jpg) no-repeat;
    cursor: pointer;
    float: right;
}
.btnService {
    width: 142px;
    height: 35px;
    padding-left: 40px;
    font: bold 18px/35px SimSun;
    color: #000;
    background: url(../images/up.jpg) no-repeat;
    cursor: pointer;
    float: right;
}
.btnMessage {
    width: 115px;
    right: 182px;
    z-index: 9;
    position: absolute;
    height: 35px;
    padding-left: 45px;
    margin-right: -1px;
    font: normal 12px/35px SimSun;
    background: url(http://js.soufunimg.com/home/jiancai/chat/CSS/images/btnMessage.gif) 0 0 repeat;
    cursor: pointer;
}
.black0, .black0 a, .black0 a:hover {
    color: #000;
    text-decoration: none;
}
.btnPhone {
    width: 100px;
    right: 182px;
    z-index: 8;
    position: absolute;
    height: 35px;
    padding-left: 30px;
    margin-right: -1px;
    font: normal 12px SimSun;
    background: url(../images/phone.jpg) 0 0 repeat;
    text-align: center;
    line-height: 17px;
}
.blue_alertCon {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 180px;
    line-height: 33px;
    text-align: center;
    font-size: 12px;
    color: #999;
    background: #ddd;
    border: 1px solid #999;
    z-index: 99;
}
